.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
references/*
!references/.gitkeep
reports/*
!reports/.gitkeep
*.joblib
*.pkl
.env
.DS_Store
